<div class="home-main">
    <div class="tab-group">
        <mat-tab-group class="mat-elevation-z4" mat-stretch-tabs="false" mat-align-tabs="start" color="primary"
            backgroundColor="primary"
            style="position: relative; margin-left: 5%; margin-right: 5%; background-color: white;">
            <mat-tab label="Viajes">
                <div class="small-box">
                    Content 1
                </div>
            </mat-tab>
            <mat-tab label="Vuelos">
                <div class="small-box">
                    Content 2
                </div>
            </mat-tab>
            <mat-tab label="Promociones">
                <div class="small-box">
                    Content 2
                </div>
            </mat-tab>
            <mat-tab label="Check-in">
                <div class="small-box">
                    Content 2
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>