<div class="check-in-baggages-main-container">
    <div class="check-in-main-container">
        <div class="title">
            <mat-label>Información del pase de abordar</mat-label>
            <mat-icon>confirmation_number</mat-icon>
        </div>

        <form class="boarding-pass-searching-container" [formGroup]="BoardingPassSearching">
            <div class="boarding-pass-searching-container">
                <mat-form-field class="boarding-pass-number-input">
                    <mat-label>Numero de pase de abordaje</mat-label>
                    <input type="tel" matInput placeholder="ABCD1234EFGH5678" formControlName="boardingPassNumberSearched">
                </mat-form-field>
        
                <button mat-fab extended class="search-boarding-pass-button" color="primary" (click)="searchBoardingPass()">
                    <mat-icon>search</mat-icon>
                    Buscar
                </button>
            </div>
        </form>

        <div class="boarding-pass-information-table-container">
            <table mat-table [dataSource]="getfoundBoardingPassData()" class="boardingPassInformationTable">
            
                <ng-container matColumnDef="boardingPassNumber">
                  <th mat-header-cell *matHeaderCellDef> Numero de pase </th>
                  <td mat-cell *matCellDef="let element"> {{ getFoundBoardingPass().id }} </td>
                </ng-container>

                <ng-container matColumnDef="travelNumber">
                    <th mat-header-cell *matHeaderCellDef> Numero de viaje </th>
                    <td mat-cell *matCellDef="let element"> {{ getFoundBoardingPass().viajeId }} </td>
                  </ng-container>
              
                <ng-container matColumnDef="clientEmail">
                  <th mat-header-cell *matHeaderCellDef> Cliente </th>
                  <td mat-cell *matCellDef="let element"> {{ getFoundBoardingPass().correoCliente }} </td>
                </ng-container>
              
                <ng-container matColumnDef="boardingGate">
                  <th mat-header-cell *matHeaderCellDef> Puerta de abordaje </th>
                  <td mat-cell *matCellDef="let element"> {{ getFoundBoardingPass().puerta }} </td>
                </ng-container>
              
                <ng-container matColumnDef="checkedIn">
                  <th mat-header-cell *matHeaderCellDef> Check-In realizado</th>
                  <td mat-cell *matCellDef="let element"> {{ getCheckedInHTML() }} </td>
                </ng-container>
    
                <ng-container matColumnDef="checkInButton">
                    <th mat-header-cell *matHeaderCellDef> Realizar Check-In</th>
                    <td mat-cell *matCellDef="let element">

                        <button mat-fab extended class="check-in-boarding-pass-button" color="primary" (click)="chechInBoardingPass(getFoundBoardingPass().id, getFoundBoardingPass().correoCliente, getFoundBoardingPass().puerta, getFoundBoardingPass().viajeId)"  [disabled]="getFoundBoardingPass().checkIn" *ngIf="getFlightCheckInAvailable()">
                            <mat-icon>check</mat-icon>
                            {{ getCheckInButtonLabel() }}
                        </button>
                        <div  matTooltip="Vuelo cerrado, no es posible realizar el Check-In" *ngIf="!getFlightCheckInAvailable()">
                          <button mat-fab extended class="check-in-boarding-pass-button" color="primary" (click)="chechInBoardingPass(getFoundBoardingPass().id, getFoundBoardingPass().correoCliente, getFoundBoardingPass().puerta, getFoundBoardingPass().viajeId)"  [disabled]="true">
                            <mat-icon>check</mat-icon>
                            {{ getCheckInButtonLabel() }}
                          </button>
                        </div>
                        
                    </td>
                  </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedBoardingPassColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedBoardingPassColumns;"></tr>
            </table>
        </div>
    </div>

    <div class="baggages-main-container" *ngIf="getFoundBoardingPass().checkIn">
        <div class="title">
            <mat-label>Registro de equipaje</mat-label>
            <mat-icon>card_travel</mat-icon>
        </div>

        <div class="baggages-register-container">
            <form class="baggages-register-form" [formGroup]="baggagesRegistrationForm">
                <mat-form-field class="baggage-amount-input">
                    <mat-label>Peso (kg)</mat-label>
                    <input type="number" matInput placeholder="1" value="0" max="50" min="1" formControlName="baggageWeightInput">
                </mat-form-field>

                <mat-form-field class="baggage-amount-input" formControlName="baggageColorInput">
                <mat-label>Color</mat-label>
                <mat-select [(value)]="selectedBaggageColor">
                    <mat-option>None</mat-option>
                    <mat-option value="Rojo">Rojo</mat-option>
                    <mat-option value="Verde">Verde</mat-option>
                    <mat-option value="Azul">Azul</mat-option>
                    <mat-option value="Amarillo">Amarillo</mat-option>
                    <mat-option value="Naranja">Naranja</mat-option>
                    <mat-option value="Rosado">Rosado</mat-option>
                    <mat-option value="Morado">Morado</mat-option>
                    <mat-option value="Gris">Gris</mat-option>
                    <mat-option value="Negro">Negro</mat-option>
                    <mat-option value="Blanco">Blanco</mat-option>

                  </mat-select>
                </mat-form-field>
            </form>
    
            <button mat-fab extended class="search-boarding-pass-button" color="primary" (click)="registerBaggageAmount(getFoundBoardingPass().id, selectedBaggageColor)">
                <mat-icon>add</mat-icon>
                <mat-icon>work</mat-icon>
                Registrar
            </button>
        </div>

        <div class="boarding-pass-information-table-container">
            <table mat-table [dataSource]="dataSource" class="boardingPassInformationTable">
            
                <ng-container matColumnDef="baggageId">
                  <th mat-header-cell *matHeaderCellDef> Numero de maleta </th>
                  <td mat-cell *matCellDef="let element"> {{ element.nMaleta }} </td>
                </ng-container>

                <ng-container matColumnDef="boardingPassId">
                    <th mat-header-cell *matHeaderCellDef> Numero de pase de abordaje </th>
                    <td mat-cell *matCellDef="let element"> {{ element.abordajeId }} </td>
                  </ng-container>
              
                <ng-container matColumnDef="baggageWeight">
                  <th mat-header-cell *matHeaderCellDef> Peso </th>
                  <td mat-cell *matCellDef="let element"> {{ element.peso }} </td>
                </ng-container>
              
                <ng-container matColumnDef="baggageColor">
                  <th mat-header-cell *matHeaderCellDef> Color </th>
                  <td mat-cell *matCellDef="let element"> {{ element.color }} </td>
                </ng-container>

                <ng-container matColumnDef="deleteBaggageButton">
                  <th mat-header-cell *matHeaderCellDef> Acciones </th>
                  <td mat-cell *matCellDef="let element">

                    <button mat-mini-fab class="baggages-delete-button" matTooltip="Eliminar maleta" color="primary" (click)="deleteBaggage(element.nMaleta, element.abordajeId)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    
                </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedBaggagesColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedBaggagesColumns;"></tr>
            </table>
        </div>

        <mat-label class="expected-price-information">
          Precio estimado: ${{ getExpectedPriceByBaggages() }}
        </mat-label>

    </div>
</div>