<div class="container my-5">
    <h1 class="mb-3">Agregar Promoción</h1>
    <div class="row">
        <div class="mat-elevation-z8" style="width: 450px; padding: 1%;">
            <!-- start date -->
            <div class="mb-3">
                <mat-form-field color="accent">
                    <mat-label>Fecha de inicio</mat-label>
                    <input matInput [matDatepicker]="picker1" [(ngModel)]="startDate" name="fechaInicio">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 color="primary"></mat-datepicker>
                </mat-form-field>
            </div>

            <!-- expiration date -->
            <div class="mb-3">
                <mat-form-field color="accent">
                    <mat-label>Fecha de vencimiento</mat-label>
                    <input matInput [matDatepicker]="picker2" [(ngModel)]="expirationDate" name="fechaVencimiento">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 color="primary"></mat-datepicker>
                </mat-form-field>
            </div>

            <button mat-flat-button color="primary" class="btn-block custom-back" (click)="back()">Regresar</button>
            <span class="mx-1"></span>
            <button mat-flat-button color="primary" class="btn-block custom-save"
                (click)="addPromotion()">Guardar</button>
        </div>
    </div>
</div>