<div class="container my-5">
    <h1 class="mb-3">Vuelos</h1>
    <button mat-flat-button class="custom-button" color="primary" (click)="addFlight()">Agregar vuelo</button>
    <table class="table my-3" *ngIf="vuelos && vuelos.length > 0">
        <thead>
            <tr>
                <th>NVuelo</th>
                <th>Avión</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Fecha Salida</th>
                <th>Fecha Llegada</th>
                <th>Estado</th>
                <th>Precio (USD)</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vuelo of vuelos">
                <td>{{ vuelo.nVuelo }}</td>
                <td>{{ vuelo.avionMatricula }}</td>
                <td>{{ vuelo.vueloAeropuertos[1].aeropuertoId }}</td>
                <td>{{ vuelo.vueloAeropuertos[0].aeropuertoId }}</td>
                <td>{{ formatDate(vuelo.fechaSalida) }}</td>
                <td>{{ formatDate(vuelo.fechaLlegada) }}</td>
                <td>{{ getState(vuelo.estado) }}</td>
                <td>{{ vuelo.precio }}</td>
                <td>
                    <a mat-button class="custom-edit"><mat-icon>edit</mat-icon></a>
                    <a mat-button class="custom-delete" (click)="deleteFlight(vuelo.nVuelo)"><mat-icon>delete</mat-icon></a>
                </td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!vuelos || vuelos.length <= 0">No se encontraron vuelos</p>
</div>
