<div class="main-div">
    <div class="stepper-container">
        <mat-stepper  #stepper>
            <mat-step>
              <form>
                <ng-template matStepLabel>Seleccion de vuelo</ng-template>

                <! Contenido que se muestra si no hay vuelos disponibles >
                <div class="no-flights-container" *ngIf="flights.length === 0">
                    <mat-icon class="no-flights-icon">sentiment_very_dissatisfied</mat-icon>
                    <h3>¡Ups! Lo sentimos, no encontramos ningún vuelo para la fecha o ruta que seleccionaste</h3>
                </div>
                
                <div class="flights-list">
                    <mat-card class="flight-card" *ngFor="let flight of flights">
                        <mat-card-content>
                          <button class="custom-material-button" matStepperNext (click)="selectFlight(flight.id)">
                            <div class="flight-information">
                                <div class="flight-dep-land-information">
                                    <h2> {{ flight.departureAirportIATA }} </h2>
                                    <h3> {{ flight.departureTime }} </h3>
                                </div>
                                <div class="flight-duration-information">
                                    <h3> {{ flight.duration }} </h3>
                                    <div class="diagram-line-icon-line">
                                        <div class="horizontal-line"></div>
                                        <mat-icon>flight_takeoff</mat-icon>
                                        <div class="horizontal-line"></div>
                                    </div>
                                </div>
                                <div class="flight-dep-land-information">
                                    <h2> {{ flight.landingAirportIATA }} </h2>
                                    <h3> {{ flight.landingTime }} </h3>
                                </div>
                                <div class="vertical-line"></div>
                                <div class="flight-price-information">
                                    <h2> {{ flight.price }} </h2>
                                </div>
                            </div>
                          </button>
                        </mat-card-content>
                    </mat-card>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="travelInformationStep" errorMessage="Hay informacón pendiente!">
              <form [formGroup]="travelInformationStep">
                <ng-template matStepLabel>Informacón personal</ng-template>
                <div class="personal-information-main-container">
                  <div class="personal-information-payment-inputs-container" *ngIf="!isMobile">

                    <div class="personal-information-form-field-container">
                      <mat-form-field class="personal-information-payment-form-field">
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Pedro" formControlName="secondCtrl" required>
                      </mat-form-field>
  
                      <mat-form-field class="personal-information-payment-form-field">
                        <mat-label>Primer apellido</mat-label>
                        <input matInput placeholder="Perico" formControlName="secondCtrl" required>
                      </mat-form-field>
  
                      <mat-form-field class="personal-information-payment-form-field">
                        <mat-label>Segundo apellido</mat-label>
                        <input matInput placeholder="Perico">
                      </mat-form-field>
                    </div>

                    <div class="personal-information-form-field-container">
                      <mat-form-field class="personal-information-payment-form-field">
                        <mat-label>Correo</mat-label>
                        <input matInput type="email" placeholder="pedroperico@airtec.com" [formControl]="emailFormControl" formControlName="secondCtrl" required>
                      </mat-form-field>
  
                      <mat-form-field class="personal-information-payment-form-field">
                        <mat-label>Telefono</mat-label>
                        <span matPrefix> (+506) &nbsp;</span>
                        <input matInput type="tel" maxlength="8" placeholder="77737426" formControlName="secondCtrl" required>
                      </mat-form-field>
                    </div>
                    <div class="personal-information-form-field-container">
                      <button mat-flat-button color="primary" matStepperPrevious>Regresar</button>
                      <button mat-flat-button color="primary" matStepperNext>Siguiente</button>
                    </div>
                  </div>

                  <div class="personal-information-payment-inputs-container" *ngIf="isMobile">

                    <mat-form-field class="personal-information-payment-form-field">
                      <mat-label>Nombre</mat-label>
                      <input matInput placeholder="Pedro" formControlName="secondCtrl" required>
                    </mat-form-field>

                    <mat-form-field class="personal-information-payment-form-field">
                      <mat-label>Primer apellido</mat-label>
                      <input matInput placeholder="Perico" formControlName="secondCtrl" required>
                    </mat-form-field>

                    <mat-form-field class="personal-information-payment-form-field">
                      <mat-label>Segundo apellido</mat-label>
                      <input matInput placeholder="Perico">
                    </mat-form-field>

                    <mat-form-field class="personal-information-payment-form-field">
                      <mat-label>Correo</mat-label>
                      <input matInput type="email" placeholder="pedroperico@airtec.com" [formControl]="emailFormControl" formControlName="secondCtrl" required>
                    </mat-form-field>

                    <mat-form-field class="personal-information-payment-form-field">
                      <mat-label>Telefono</mat-label>
                      <span matPrefix> (+506) &nbsp;</span>
                      <input matInput type="tel" maxlength="8" placeholder="77737426" formControlName="secondCtrl" required>
                    </mat-form-field>

                    <div class="personal-information-form-field-container">
                      <button mat-flat-button color="primary" matStepperPrevious>Regresar</button>
                      <button mat-flat-button color="primary" matStepperNext>Siguiente</button>
                    </div>
                  </div>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="paymentInformationStep" errorMessage="Hay informacón pendiente!">
              <ng-template matStepLabel>Facturación</ng-template>
              <form [formGroup]="paymentInformationStep">
                <div class="personal-information-main-container">
                  <div class="personal-information-payment-inputs-container" *ngIf="!isMobile">
                  
                    <div class="personal-information-form-field-container">
                      <mat-form-field class="personal-information-payment-form-field">
                        <mat-label>Numero de tarjeta</mat-label>
                        <input matInput type="tel" maxlength="16" placeholder="1111222233334444" formControlName="thirdCtrl" required>
                      </mat-form-field>
                    </div>
  
                    <div class="personal-information-form-field-container">
                      <mat-form-field class="personal-information-payment-form-field">
                        <mat-label>Fecha de vencimiento</mat-label>
                        <input matInput placeholder="01/01/2024" [matDatepicker]="picker">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>

                      <mat-form-field class="personal-information-payment-form-field">
                        <mat-label>CVV</mat-label>
                        <input matInput type="tel" maxlength="3" placeholder="123" formControlName="thirdCtrl" required>
                      </mat-form-field>
                    </div>

                    <div class="personal-information-form-field-container">
                      <button mat-flat-button color="primary" matStepperPrevious>Regresar</button>
                      <button mat-flat-button color="primary" matStepperNext>Siguiente</button>
                    </div>
                    
                  </div>

                  <div class="personal-information-payment-inputs-container" *ngIf="isMobile">
                  
                    <mat-form-field class="personal-information-payment-form-field">
                      <mat-label>Numero de tarjeta</mat-label>
                      <input matInput type="tel" maxlength="16" placeholder="1111222233334444" formControlName="thirdCtrl" required>
                    </mat-form-field>

                    <mat-form-field class="personal-information-payment-form-field">
                      <mat-label>Fecha de vencimiento</mat-label>
                      <input matInput placeholder="01/01/2024" [matDatepicker]="picker">
                      <mat-hint>MM/DD/YYYY</mat-hint>
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="personal-information-payment-form-field">
                      <mat-label>CVV</mat-label>
                      <input matInput type="tel" maxlength="3" placeholder="123" formControlName="thirdCtrl" required>
                    </mat-form-field>

                    <div class="personal-information-form-field-container">
                      <button mat-flat-button color="primary" matStepperPrevious>Regresar</button>
                      <button mat-flat-button color="primary" matStepperNext>Siguiente</button>
                    </div>
                    
                  </div>
                </div>
              </form>
            </mat-step>
        </mat-stepper>
    </div>
</div>
