<div class="main-div">
    <div class="stepper-container">
        <mat-stepper linear #stepper *ngIf="!getisMobile()">
            <mat-step>
              <form>
                <ng-template matStepLabel>Seleccion de vuelo</ng-template>

                <! Contenido que se muestra si no hay vuelos disponibles >
                <div class="no-flights-container" *ngIf="flights.length === 0">
                    <mat-icon class="no-flights-icon">sentiment_very_dissatisfied</mat-icon>
                    <h3>¡Ups! Lo sentimos, no encontramos ningún vuelo para la fecha o ruta que seleccionaste</h3>
                </div>
                
                <div class="flights-list">
                    <mat-card class="flight-card" *ngFor="let flight of flights">
                        <mat-card-content>
                          <button class="custom-material-button" matStepperNext (click)="selectFlight(flight.flightIid)">
                            <div class="flight-information">
                                <div class="flight-dep-land-information">
                                    <h2> {{ flight.departureAirportIATA }} </h2>
                                    <h3> {{ flight.departureTime }} </h3>
                                </div>
                                <div class="flight-duration-information">
                                    <h3> {{ flight.duration }} </h3>
                                    <div class="diagram-line-icon-line">
                                        <div class="horizontal-line"></div>
                                        <mat-icon>flight_takeoff</mat-icon>
                                        <div class="horizontal-line"></div>
                                    </div>
                                    <h6> {{ flight.flightIid }} </h6>
                                </div>
                                <div class="flight-dep-land-information">
                                    <h2> {{ flight.landingAirportIATA }} </h2>
                                    <h3> {{ flight.landingTime }} </h3>
                                </div>
                                <div class="vertical-line"></div>
                                <div class="flight-price-information">
                                    <h2> {{ flight.price }} </h2>
                                </div>
                            </div>
                          </button>
                        </mat-card-content>
                    </mat-card>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="travelInformationStepD" errorMessage="*">
              <form [formGroup]="travelInformationStepD">
                <ng-template matStepLabel>Información personal</ng-template>
                <div class="personal-information-main-container">
                  <div class="personal-information-payment-inputs-container">

                    <div class="personal-information-form-field-container">
                      <mat-form-field class="personal-information-payment-form-field">
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Pedro" formControlName="passengerNameInputD" required>
                      </mat-form-field>
  
                      <mat-form-field class="personal-information-payment-form-field">
                        <mat-label>Primer apellido</mat-label>
                        <input matInput placeholder="Perico" formControlName="passengerLastName1InputD" required>
                      </mat-form-field>
  
                      <mat-form-field class="personal-information-payment-form-field">
                        <mat-label>Segundo apellido</mat-label>
                        <input matInput placeholder="Perico" formControlName="passengerLastName2InputD">
                      </mat-form-field>
                    </div>

                    <div class="personal-information-form-field-container">
                      <mat-form-field class="personal-information-payment-form-field">
                        <mat-label>Correo</mat-label>
                        <input matInput type="email" placeholder="pedroperico@airtec.com" formControlName="passengerEmailInputD" required>
                      </mat-form-field>
  
                      <mat-form-field class="personal-information-payment-form-field">
                        <mat-label>Telefono</mat-label>
                        <span matPrefix> (+506) &nbsp;</span>
                        <input matInput type="tel" maxlength="8" placeholder="77737426" formControlName="passengerTelephoneInputD" required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </form>

              <div class="seats-selection-container">
                <div class="selected-seats-id-label-contanier">
                  <h2>Asientos seleccionados:</h2>
                  <h2 *ngFor="let selectedseatId of getselectedseatsId()"> {{ selectedseatId }} </h2>
                </div>
                <h2>Asientos restantes: {{getleftTickets()}} </h2>
                <div class="seats-selection">
                  <img class="aircraft-image" src="../../../assets/aircraftShadow.png">
                  <div class="plane-seats-grid">
                    <div class="seat-button-container" *ngFor="let seat of seats; let i = index">

                      <button mat-icon-button (click)="selectSeat(seat.seatId)" *ngIf="seat.state == 'Available'">
                        <mat-icon>event_seat</mat-icon>
                        <h6> {{seat.seatId}} </h6>
                      </button>

                      <button mat-icon-button (click)="selectSeat(seat.seatId)" *ngIf="seat.state != 'Available'" disabled>
                        <mat-icon>event_seat</mat-icon>
                        <h6> {{seat.seatId}} </h6>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="personal-information-form-field-container">
                <button mat-flat-button color="primary" matStepperPrevious>Regresar</button>
                <button mat-flat-button color="primary" matStepperNext (click)="updatePersonalInformationD()" *ngIf="getleftTickets() != 0" disabled>Siguiente</button>
                <button mat-flat-button color="primary" matStepperNext (click)="updatePersonalInformationD()" *ngIf="getleftTickets() == 0">Siguiente</button>
              </div>
              
            </mat-step>

            <mat-step [stepControl]="paymentInformationStepD" errorMessage="*">
              <ng-template matStepLabel>Facturación</ng-template>
              <form [formGroup]="paymentInformationStepD">
                <div class="personal-information-main-container">
                  <div class="personal-information-payment-inputs-container">
                  
                    <div class="personal-information-form-field-container">
                      <mat-form-field class="personal-information-payment-form-field">
                        <mat-label>Numero de tarjeta</mat-label>
                        <input matInput type="tel" minlength="16" maxlength="16" placeholder="1111222233334444" formControlName="passengerCreditCardNumberInputD" required>
                      </mat-form-field>
                    </div>
  
                    <div class="personal-information-form-field-container">
                      <mat-form-field class="personal-information-payment-form-field">
                        <mat-label>Fecha de vencimiento</mat-label>
                        <input matInput placeholder="01/01/2024" [matDatepicker]="picker" formControlName="passengerCardExpirationdateInputD" required>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>

                      <mat-form-field class="personal-information-payment-form-field">
                        <mat-label>CVV</mat-label>
                        <input matInput type="tel" minlength="3" maxlength="3" placeholder="123" formControlName="passengerCardCVVInputD" required>
                      </mat-form-field>
                    </div>

                    <div class="personal-information-form-field-container">
                      <button mat-flat-button color="primary" matStepperPrevious>Regresar</button>
                      <button mat-flat-button color="primary" (click)="reserveFlight()">Reservar</button>
                    </div>
                  </div>
                </div>
              </form>
            </mat-step>
        </mat-stepper>




        <mat-stepper linear #stepper *ngIf="getisMobile()">
          <mat-step>
            <form>
              <ng-template matStepLabel>
                <mat-icon>flight_takeoff</mat-icon>
              </ng-template>

              <! Contenido que se muestra si no hay vuelos disponibles >
              <div class="no-flights-container" *ngIf="flights.length === 0">
                  <mat-icon class="no-flights-icon">sentiment_very_dissatisfied</mat-icon>
                  <h3>¡Ups! Lo sentimos, no encontramos ningún vuelo para la fecha o ruta que seleccionaste</h3>
              </div>
              
              <div class="flights-list">
                  <mat-card class="flight-card" *ngFor="let flight of flights">
                      <mat-card-content>
                        <button class="custom-material-button" matStepperNext (click)="selectFlight(flight.flightIid)">
                          <div class="flight-information">
                              <div class="flight-dep-land-information">
                                  <h2> {{ flight.departureAirportIATA }} </h2>
                                  <h3> {{ flight.departureTime }} </h3>
                              </div>
                              <div class="flight-duration-information">
                                  <h3> {{ flight.duration }} </h3>
                                  <div class="diagram-line-icon-line">
                                      <div class="horizontal-line"></div>
                                      <mat-icon>flight_takeoff</mat-icon>
                                      <div class="horizontal-line"></div>
                                  </div>
                                  <h6> {{ flight.flightIid }} </h6>
                              </div>
                              <div class="flight-dep-land-information">
                                  <h2> {{ flight.landingAirportIATA }} </h2>
                                  <h3> {{ flight.landingTime }} </h3>
                              </div>
                              <div class="vertical-line"></div>
                              <div class="flight-price-information">
                                  <h2> {{ flight.price }} </h2>
                              </div>
                          </div>
                        </button>
                      </mat-card-content>
                  </mat-card>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="travelInformationStepM" errorMessage="*">
            <form [formGroup]="travelInformationStepM">
              <ng-template matStepLabel>
                <mat-icon>person</mat-icon>
              </ng-template>
              <div class="personal-information-main-container">
                <div class="personal-information-payment-inputs-container">

                  <mat-form-field class="personal-information-payment-form-field">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Pedro" formControlName="passengerNameInputM" required>
                  </mat-form-field>

                  <mat-form-field class="personal-information-payment-form-field">
                    <mat-label>Primer apellido</mat-label>
                    <input matInput placeholder="Perico" formControlName="passengerLastName1InputM" required>
                  </mat-form-field>

                  <mat-form-field class="personal-information-payment-form-field">
                    <mat-label>Segundo apellido</mat-label>
                    <input matInput placeholder="Perico" formControlName="passengerLastName2InputM">
                  </mat-form-field>

                  <mat-form-field class="personal-information-payment-form-field">
                    <mat-label>Correo</mat-label>
                    <input matInput type="email" placeholder="pedroperico@airtec.com" formControlName="passengerEmailInputM" required>
                  </mat-form-field>

                  <mat-form-field class="personal-information-payment-form-field">
                    <mat-label>Telefono</mat-label>
                    <span matPrefix> (+506) &nbsp;</span>
                    <input matInput type="tel" maxlength="8" placeholder="77737426" formControlName="passengerTelephoneInputM" required>
                  </mat-form-field>
                </div>
              </div>
            </form>

            <div class="selected-seats-id-label-contanier">
              <h4>Asientos seleccionados:</h4>
              <h4 *ngFor="let selectedseatId of getselectedseatsId()"> {{ selectedseatId }} </h4>
            </div>

            <div class="selected-seats-id-label-contanier">
              <h4 class="left-seast-lablel-M">Asientos restantes: {{getleftTickets()}} </h4>
            </div>

            <div class="seats-selection-container-M">
              <img class="aircraft-image-M" src="../../../assets/aircraftShadow.png">
              <div class="plane-seats-grid-M">
                <div class="seat-button-container-M" *ngFor="let seat of seats; let i = index">
                  <button mat-icon-button (click)="selectSeat(seat.seatId)">
                    <mat-icon>event_seat</mat-icon>
                    <h6> {{seat.seatId}} </h6>
                  </button>
                </div>
              </div>
            </div>

            <div class="personal-information-form-field-container">
              <button mat-flat-button color="primary" matStepperPrevious>Regresar</button>
              <button mat-flat-button color="primary" matStepperNext (click)="updatePersonalInformationD()" *ngIf="getleftTickets() != 0" disabled>Siguiente</button>
                <button mat-flat-button color="primary" matStepperNext (click)="updatePersonalInformationD()" *ngIf="getleftTickets() == 0">Siguiente</button>
            </div>

          </mat-step>

          <mat-step [stepControl]="paymentInformationStepM" errorMessage="*">
            <ng-template matStepLabel>
              <mat-icon>payment</mat-icon>
            </ng-template>
            <form [formGroup]="paymentInformationStepM">
              <div class="personal-information-main-container">
                <div class="personal-information-payment-inputs-container">
               
                  <mat-form-field class="personal-information-payment-form-field">
                    <mat-label>Numero de tarjeta</mat-label>
                    <input matInput type="tel" minlength="16" maxlength="16" placeholder="1111222233334444" formControlName="passengerCreditCardNumberInputM" required>
                  </mat-form-field>

                  <mat-form-field class="personal-information-payment-form-field">
                    <mat-label>Fecha de vencimiento</mat-label>
                    <input matInput placeholder="01/01/2024" [matDatepicker]="picker" formControlName="passengerCardExpirationdateInputM" required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field class="personal-information-payment-form-field">
                    <mat-label>CVV</mat-label>
                    <input matInput type="tel" minlength="3" maxlength="3" placeholder="123" formControlName="passengerCardCVVInputM" required>
                  </mat-form-field>

                  <div class="personal-information-form-field-container">
                    <button mat-flat-button color="primary" matStepperPrevious>Regresar</button>
                    <button mat-flat-button color="primary" (click)="reserveFlight()">Reservar</button>
                  </div>
          
                </div>
              </div>
            </form>
          </mat-step>
      </mat-stepper>
    </div>
</div>
