<p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="long-separator"></span>
        <a mat-button class="custom-a" (click)="home()">TECAirlines</a>
        <span class="separator"></span>
  
        <ng-container *ngIf="!isMobile">
          <a mat-button (click)="openLoginDialog()">{{ logged }}<mat-icon>account_circle</mat-icon></a>
        </ng-container>
  
        <span class="spacer"></span>
  
        <ng-container *ngIf="!isMobile">
          <a mat-button routerLink="promotions">Ofertas de vuelos</a>
        </ng-container>
        <span class="separator"></span>
  
        <ng-container *ngIf="!isMobile">
          <a mat-button>Mis viajes</a>
        </ng-container>
        <span class="separator"></span>
  
        <ng-container *ngIf="!isMobile">
          <a mat-button>Ayuda</a>
        </ng-container>
        <span class="separator"></span>
  
        <ng-container *ngIf="isMobile">
          <a mat-icon-button (click)="openLoginDialog()"><mat-icon>account_circle</mat-icon></a>
        </ng-container>
  
        <ng-container *ngIf="isMobile">
          <a mat-icon-button><mat-icon>help</mat-icon></a>
        </ng-container>
  
        <button mat-icon-button class="example-icon" (click)="test()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="long-separator"></span>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>
<router-outlet></router-outlet>
