<div class="promotions-main">
    <div style="text-align: center;">
        <p class="promotion-text1">Vuelos baratos a todo el mundo</p>
        <p class="promotion-text2">Apresúrate y compra a estos precios increíbles</p>
    </div>

    <div class="promotion-grid">
        <mat-card *ngFor="let promotion of promotions; let i=index" fxLayout="column">
            <button class="custom-button2" (click)="onCardClick(promotion)">
                <div class="image-container2">
                    <img style="margin-top: 1%;" src="{{ promotion.imagePath }}" alt="Promotion Image" />
                </div>
            </button>

            <div class="text-overlay">
                <mat-label>{{ promotion.origin }}</mat-label>
                <div class="icon-container">
                    <mat-icon>trending_flat</mat-icon>
                    <mat-label>{{ promotion.destination }}</mat-label>
                </div>
            </div>
            <mat-label class="per-way-from">Por trayecto desde</mat-label>
            <mat-label class="price">USD {{ promotion.price }}</mat-label>
        </mat-card>
        <button *ngIf="isMobile" mat-stroked-button class="custom-button" (click)="back()">Regresar</button>
    </div>

    <div *ngIf="!isMobile" class="discover-button-container">
        <button mat-stroked-button class="custom-button" (click)="back()">Regresar</button>
    </div>
</div>