<p>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span class="long-separator"></span>
            <a mat-button class="custom-a" (click)="home()">TECAirlines</a>
            <span class="separator"></span>

            <a mat-button routerLink="trips">Viajes</a>
            <span class="separator"></span>

            <a mat-button routerLink="flights">Vuelos</a>
            <span class="separator"></span>

            <a mat-button routerLink="promotions">Promociones</a>
            <span class="separator"></span>

            <a mat-button routerLink="reservations">Reservaciones</a>
            <span class="separator"></span>

            <a mat-button routerLink="chack-boardingpass-baggages">Check-in</a>
            <span class="separator"></span>

            <span class="spacer"></span>

            <a mat-button (click)="openLoginDialog()">TECAir<mat-icon>account_circle</mat-icon></a>
            <span class="separator"></span>

            <a mat-button (click)="logout()">
                <p>{{empleado.nombre[0] + empleado.apellido1[0]}}</p>
                <mat-icon>exit_to_app</mat-icon>
            </a>
            <span class="long-separator"></span>
        </mat-toolbar-row>
    </mat-toolbar>
</p>
<router-outlet></router-outlet>